#cover-bar {
    height: 400px;

}

#big-cover-con{

    background-image: linear-gradient(rgba(0, 0, 0, 0.200),rgba(0, 0, 0, 0.2)), url(cover.jpg);
    background-size: cover;
    background-position: 0px;
    background-blend-mode: darken;

}

#nama-cover{
    padding-top: 100px ;
}

#body-tengah{
    background-color:whitesmoke;
    height: 700px;
    margin-top: -30px;
}

#body-tengah-2{
    background-color:black;
    height: 500px;
    margin-top: -30px;
}


.about-me{
    text-align: center;
}

.body-paragraf-position{
    text-align: justify;
    /* text-justify: inter-word; */
    
}

.current-activities{
    align-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.paragrafbox{
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 1.8;
}

h4{
    text-align: center;
}