* {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;;
}

.big-container{

    margin: auto auto;

    width: 80%;
}


div.cover{
    background-image: url(coverjpn.jpg);
    height: 500px;
    background-size: cover;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
}

.cover h1{
    color: white;
    font-size: 45px;
    font-family: 'Sawarabi Mincho', sans-serif;;
}
.hereis{
    padding-top: 15px;
}

.container{
    
}

.aboutme{
    /* display: grid; */
    height: min-content;
    /* grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
                    "summary";
    
    box-sizing: border-box; */
        
}

.background{
    display: grid;
    grid-template-areas:
                        "ppict education";
    
    grid-template-columns: 1fr 1fr;

    
}

.foto{

    grid-area: ppict;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;

}
.pp{
    background-image: url(pasfoto.jpg);
    background-size: 100%;
    background-position: center;
    margin: auto auto;
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
}

.education{
    grid-area: education;
    align-items: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    height: max-content;
}

.personal-summary{
    background-color: #f1f7f7;

}



.text-1{
    /* width: 60%; */
    /* margin: auto auto; */
    box-sizing: border-box;
    text-align: justify;
    background-color: #f1f7f7;
    height: 100%;
    place-self: center stretch;

}

.text-1 p{
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;
}

.text-1 h2{

    padding-top: 20px;
    margin: auto auto;
    text-align: center;

}

.activities{
    /* background-image: url(pict2.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    color: whitesmoke;
    box-sizing: border-box;
    background-color: #3e6d75;
    /* background-color: rgb(26, 52, 68); */
}


.activities h2{

    margin: auto;
    padding-top: 20px;
    text-align: center;

}

.activities h3{

    width: 60%;
    margin: auto;
    padding-top: 15px;
    text-align: center;
}

.icon-act{

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;

}

.icons{
    background-color: #f1f7f7;
    color: black;
    width: 130px;
    border-radius: 10px;
    margin: 20px 10px;
    text-align: center;
    font-size: 13px;
}

.skills{
    display: grid;
    grid-template-rows: 0.2fr 0fr;
    background-color: #264348;
    text-align: center;
    box-sizing: border-box;
}

.skills-icon{

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    
}

.skills h2{

    padding-top: 10px;
    color: whitesmoke;
}

.icons-skill{

    background-color: #f1f7f7;
    color: black;
    width: 130px;
    border-radius: 10px;
    margin: 20px 10px;
    text-align: center;
    font-size: 13px;

}

/* Responsive */

@media screen and (max-width: 578px){

    .big-container{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: row;
    }

    .aboutme{
        display: flex;
        flex-direction: column;
    }

    .background{
        display: flex;
        flex-wrap: wrap;
    }

    .education{
        height: max-content;
    }



    .foto{
        min-width: 100%;
        min-height: 300px;
        order: 0;

    }
    .pp{
        min-width: 100%;
        min-height: 460px;
        order: 0;
        background-position: center 15%;
        background-size: cover;
    }

    .text-1{
        min-width: 100%;
    }

    .activities h2{
        padding-top: 15px;
    }

    .skills h2{
        padding-bottom: 15px;
    }

    .text-1 p{

        padding-bottom: 10px;
    }


}

@media screen and (max-width: 700px){

    .container{
        display: flex;
        flex-direction: row;
    }

    .aboutme{
        display: flex;
        flex-direction: column;
    }

    .background{
        display: flex;
        flex-wrap: wrap;
    }

    .education{
        height: max-content;
    }



    .foto{
        min-width: 100%;
        min-height: 300px;
        order: 0;

    }
    .pp{
        min-width: 100%;
        min-height: 460px;
        order: 0;
        background-position: center 15%;
        background-size: cover;
    }

    .text-1{
        min-width: 100%;
    }

    .activities h2{
        padding-top: 15px;
    }

    .skills h2{
        padding-bottom: 15px;
    }

    .text-1 p{

        padding-bottom: 10px;
    }


}


@media screen and (max-width:1200px) {
    
    .pp{
        width: 60%;
    }
}